* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--text-color: #e0e0e0;
	--bg-color: #000000;
	--border-color: #424242;
}

html {
	scroll-padding: 6.5vh 0 0 0;
	scroll-behavior: smooth;
}

body {
	color: var(--text-color);
	background-color: var(--bg-color);
	font-family: "Montserrat", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	height: 6vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	background-color: var(--bg-color);
	z-index: 1;
	padding: 0 2em;
}

#header-title {
	font-size: 25px;
	font-size: clamp(20px, 5vw, 25px);
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0.5em 1em;
}

nav li {
	padding: 0 1em;
}

a {
	color: var(--main-color);
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
}

/* ============================================== HOME SECTION ================================================== */

main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#main-col-wrapper {
	width: 80vw;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-size: 60px;
	font-size: clamp(50px, 10vw, 90px);
	margin-bottom: 0.25em;
}

h2 {
	font-size: 30px;
	font-size: clamp(20px, 5vw, 35px);
	margin-bottom: 0.75em;
}

#socials {
	display: flex;
	align-items: center;
	text-decoration: none;
}

#socials img {
	width: 1.5em !important;
	width: clamp(27px, 5vw, 40px) !important;
	margin: 0 0.5em;
}

#github-logo {
	margin-left: 0 !important;
}

#icon {
	width: 15em;
	width: clamp(200px, 30vw, 350px);
}

#arrow {
	position: absolute;
	bottom: 2em;
}

/* ========================================= PROJECT AND TALKS SECTION ============================================= */

section {
	margin-bottom: 5em;
	width: 90vw;
}

section h2 {
	font-size: 30px;
	font-size: clamp(25px, 5vw, 35px);
}

#project-cards-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 2em;
	padding: 2em 0 5em 0;
	align-items: center;
}

.project-card {
	padding: 1em;
	border: 1px solid var(--border-color);
	border-radius: 5px;
}

.project-card img {
	width: 100%;
	height: auto;
	margin-bottom: 1em;
	border-radius: 5px;
}

.project-card .iframe-wrapper {
	position: relative;
	padding-top: 56.25%;
	margin-bottom: 1em;
}

.project-card iframe {
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.project-name {
	margin-bottom: 1em;
	font-weight: bold;
	font-size: 20px;
	font-size: clamp(18px, 2vw, 20px);
}

.project-descp,
.project-links {
	margin-bottom: 1em;
	line-height: 1.4em;
	font-size: 16px;
	font-size: clamp(15px, 2vw, 17px);
}

.more-info-link {
	padding: 1em;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	text-decoration: none;
}

.more-info-link:hover {
	background-color: var(--border-color);
}

/* ============================================== SCROLL BAR ======================================== */

body::-webkit-scrollbar {
	width: 0.5em;
}

body::-webkit-scrollbar-track {
	background-color: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--border-color);
	border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #757575;
}

/* ============================================== MEDIA QUERIES ============================================ */

@media screen and (max-width: 920px) {
	header {
		padding: 0 1em;
	}

	#main-col-wrapper {
		flex-direction: column-reverse;
		align-items: flex-start;
	}

	#main-col-2 {
		margin: 1em 0 2em 0;
	}

	#project-cards-wrapper {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	/* BURGER MENU */

	.navbar-ul {
		margin: 0;
	}

	.burger-menu:hover {
		cursor: pointer;
	}

	.line-1,
	.line-2,
	.line-3 {
		width: 25px;
		height: 1.5px;
		background-color: var(--text-color);
		margin: 5px;
	}

	.burger-menu-dropdown {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 7vh;
		right: 1.5vh;
		padding: 0.5em 0em;
		z-index: 1;
		border-radius: 5px;
		background-color: var(--bg-color);
		border: 1px solid var(--border-color);
	}

	.burger-menu-dropdown li {
		display: flex;
		justify-content: flex-end;
		margin-left: 0;
		padding: 0.5em 0.5em 0.5em 2em;
	}

	.hide-burger-menu {
		display: none;
	}
}
